/* src/components/Charts.module.css */
.container {
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #61dafb;
}

.chartContainer {
    margin-bottom: 40px;
}

h2, h3 {
    text-align: center;
    color: #ffffff;
}
